<div class="title">
  <p>{{instruction}}</p>
</div>
<div style="margin:8px;">
  <p style="color: #4CAF50;">hint: open console to see full result of each operation</p>
</div>

<mat-divider></mat-divider>

<div class="command-input-area">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Command input</mat-label>
    <textarea matInput
              [(ngModel)]="commands"
              placeholder="Ex. '23 DUP 4 POP 5 DUP + DUP + -'"></textarea>
  </mat-form-field>

</div>

<div class="submit-button">

  <button mat-raised-button color='primary' (click)="sendCommands()" [disabled]="isLoading ||!commands">
    Send
  </button>

</div>


<div class="result" *ngIf="showResult">

  <mat-divider></mat-divider>
  <!-- <mat-list>
    <mat-list-item *ngFor="let command of commandArray">
      {{command}}
    </mat-list-item>
  </mat-list> -->
  <span>
    Output is: 
      <p>{{output}}</p>
  </span>

</div>

<div class="error" *ngIf="error">
  <mat-divider></mat-divider>
  <p style="color: #cc3300;">{{errorMessage}}</p>
</div>